*{
    margin: 0;
}

body{
  background: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.watch{
    top: 15%;
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.full-hour,
.full-min,
.full-second{
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.hour,
.min,
.sec{
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 110px;
    width: 100px;
    height: 200px;
}

.date{
    font-family: 'Audiowide', cursive;
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: white;
    left: 80%;
    margin: 0 auto;
}
