*{
    margin: 0;
}

body{
  background-color: black;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
}

.watch{
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-evenly;
}

.watch__time-table{
    width: 200px;
    height: auto;

    margin: auto;
}

.watch__time-table__time{
    color: white;

    font-family: 'Audiowide', cursive;
    font-size: 110px;

    width: 100px;
    height: 200px;
}

/*ADAPTIVE*/
@media (max-width: 810px) {
  .watch{
    flex-direction: column;
  }
}
